/*font-set*/
@charset "utf-8";

/*font-set*/
@charset "utf-8";
/* web-font*/

/*@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);/*font-family: 'Nanum Gothic';*/
@import url("./font/nanum.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);/*font-family: 'Nanum Myeongjo', serif;*/


/*Reset CSS 1.1*/
* {
	border: 0 none;
	outline : 0;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	font: inherit;
	font-family: '나눔고딕', 'NanumGothic', 'NG', '맑은 고딕', 'MalgunGothic', 'MG', 'Dotum', 'Arial', 'sans-serif';
	vertical-align: baseline;
	text-decoration:none;
	color:#555;
}
body {line-height: 1; font-size:12px; color:#555; background-color:#ffffff; text-align:left;*word-break:break-all;-ms-word-break:break-all;}

a {color:inherit;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
button *{position:relative}
button img{left:-3px;*left:auto}
button, img, label, input, select  {vertical-align:middle; line-height:normal;}
button, label{cursor:pointer}
code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext {white-space:normal;}
dt{display:block;}
hr{display:none;}
img, video {max-width:100%;}
legend{*width:0; display:none;}
ol, ul, dir, menu {list-style: none;}
table {border-collapse: collapse; border-spacing: 0; width:100%; table-layout:fixed; word-break: break-all;}
caption {display:none;}
textarea {overflow: auto; resize: none; white-space:pre}
.clear:afer {content:""; visibility:hidden; display:block; clear:both; height:0;}
.hide {font-size:0; line-height:0; overflow:hidden; visibility:hidden; margin-left:-4000em;}

strong {font-weight:600;}
em {font-style:italic;}
u {text-decoration:underline;}
s {text-decoration:line-through;}

/* input, button crossbrowersing */
	button,
	html input[type="button"], 
	input[type="reset"],
	input[type="submit"] {
		-webkit-appearance: button; 
		cursor: pointer; 
		*overflow: visible;  
	}
	button[disabled],
	input[disabled] {
		cursor: default;
	}
	input[type="checkbox"],
	input[type="radio"] {
		box-sizing: border-box; 
		*height: 13px; 
		*width: 13px; 
	}
	input[type="search"] {
		-webkit-appearance: textfield; 
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
	}
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}

/*input*/

/*-------------------------------------------*/

/*폰트*/


/*table*/

select {border: 1px solid #BCBCBC;}


body {line-height:28px; font-size:13px;}